*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root{
    --cor1: #a15294;
    --cor2: #612557;
    --cor4: #fff;
    --cor5: #000000;
    --cor6: #878787;
}

body{
    background: url('cozinha-5.jpeg') center center no-repeat fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-responsivo{
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;        
}
.between{
    justify-content: space-between;
}

.conteiner{
    width: 70%;
    margin: auto;
}

.conteiner2{
    width: 40%;
    margin: auto;
}

.titulo{
    font-size: 30px;
}

.branco{
    color: var(--cor4);
}

.center{
    text-align: center;
}

/* =============================================== */
section.principal{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--cor4);
    padding: 20px;
}

/* =============================================== */
/* banner logo */
.banner-logo{
    width: 100%;
    height: auto;
    background-color: var(--cor1);   
}
.banner-logo .logo{
    width: 100px;
    height: auto;
}
.banner-logo .logo .icone-logo{ 
    margin: 15px;   
}
.banner-logo .nome{
    height: 100px;
    
    padding-left: 50px;
}
.banner-logo .nome span{
    font-size: 120px;
    font-family: 'Arial Narrow Bold';
}
@media only screen and (max-width: 800px){
    .banner-logo .logo{
        width: 70px;
    }
    .banner-logo .nome span{
        line-height: 100px;
        font-size: 70px;
    }    
}

/* =============================================== */
/* footer */
footer{
    background-color: var(--cor1);
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.footer-wrapper{
    padding: 20px 0;
}
.footer-wrapper .footer-item{
    width: 30%;
    padding-bottom: 20px;
}

/* ============================ */
/* icones links */
nav.links-wrapper{
    margin-top: 50px;
    margin-bottom: 10px;
}
ul.links{
    list-style-type: none;
}
ul.links li{
    text-align: center;
    margin: 10px;
}
ul.links li a img{
    width: 50px;
}

/* ============================================================================================================================================= */
/*                                                                  MEDIA QUERY                                                                  */
/* ============================================================================================================================================= */

@media only screen and (max-width: 1000px){
    .conteiner{
        width: 80%;
    }
    /* ==================== */
    .footer-item{
        width: 45%;
    }    
}
@media only screen and (max-width: 500px){
    .conteiner{
        width: 95%;
    }    
    /* ==================== */
    .footer-wrapper{
        flex-direction: column;
    }
    .footer-wrapper .footer-item{
        width: 100%;
    }

}
