*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root{
    --cor1: #a15294;
    --cor2: #612557;
    --cor4: #fff;
    --cor5: #000000;
    --cor6: #878787;

    --palavraMenu: #fff;
    --palavra: #fff;
    --palavraConteudo: #878787; 
    --corPadrao1: #a15294;
    --corPadrao2: #612557;
    --corSection: #fff;
}

body{
    background: url('cozinha-5.jpeg') center center no-repeat fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ============================================================================================================= */
/*                                              GERAL                                                            */
/* ============================================================================================================= */
.img-responsivo{
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;        
}
.between{
    justify-content: space-between;
}

.conteiner{
    width: 70%;
    margin: auto;
}
.conteiner2{
    width: 40%;
    margin: auto;
}
@media only screen and (max-width: 1000px){
    .conteiner{
        width: 80%;
    } 
}
@media only screen and (max-width: 500px){
    .conteiner{
        width: 95%;
    }    
}

.titulo{
    font-size: 30px;
}

.branco{
    color: var(--cor4);
}

.center{
    text-align: center;
}


/* =============================================== */
/* BANNER LOGO */
.banner-logo{
    width: 100%;
    height: auto;
    background-color: var(--corPadrao1);   
}
.banner-logo .logo{
    width: 100px;
    height: auto;
}
.banner-logo .logo .icone-logo{ 
    margin: 15px;   
}
.banner-logo .nome{
    height: 100px;
    
    padding-left: 50px;
}
.banner-logo .nome span{
    font-size: 120px;
    font-family: 'Arial Narrow Bold';
    color: var(--palavra);
}
@media only screen and (max-width: 1000px){
    .banner-logo .logo{
        width: 70px;
    }
    .banner-logo .nome span{
        line-height: 100px;
        font-size: 70px;
    }    
}
@media only screen and (max-width: 500px){
    .banner-logo .nome span{
        font-size: 40px;
    }
}

/* =============================================== */
/* MAIN */
section.principal{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--corSection);
    padding: 20px;
}
section.principal span{
    font-size: 50px;
    color: var(--palavraConteudo);
}
section.principal blockquote{
    font-size: 20px;
    color: var(--palavraConteudo)
}

/* =============================================== */
/* RODAPÉ */
footer{
    background-color: var(--corPadrao1);
    width: 100%;
    height: auto;
    padding: 50px 0;
}
footer .footer-wrapper{
    padding: 20px 0;
}
footer .footer-wrapper .footer-item{
    width: 30%;
    padding-bottom: 50px;
}
@media only screen and (max-width: 1000px){
    footer .footer-wrapper .footer-item{
        width: 45%;
    }    
}
@media only screen and (max-width: 500px){
    footer .footer-wrapper{
        flex-direction: column;
    }
    footer .footer-wrapper .footer-item{
        width: 100%;
    }

}

/* =========================== */
/* menu do rodapé  */
ul.menu-footer{
    list-style-type: none;    
}
ul.menu-footer li a{
    text-decoration: none;
    color: var(--palavra);
}
ul.menu-footer li a:hover{
    color: var(--cor5);
}

/* ============================ */
/* icones links */
nav.links-wrapper{
    margin-top: 50px;
    margin-bottom: 10px;
}
ul.links{
    list-style-type: none;
}
ul.links li{
    text-align: center;
    margin: 10px;
}
ul.links li a img{
    width: 50px;
}
