:root{
    --cor1: #a15294;
    --cor2: #612557;
    --cor4: #fff;
    --cor5: #000000;
    --cor6: #878787;
}

section.principal span{
    font-size: 50px;
    color: var(--cor6);
}
section.principal blockquote{
    font-size: 20px;
    color: var(--cor6)
}
