/* ============================================================================================================================================= */
/*                                                                  MENU                                                                         */
/* ============================================================================================================================================= */
:root{
    --palavraMenu: #fff;
    --palavra: #fff;
    --palavraConteudo: #878787; 
    --corPadrao1: #a15294;
    --corPadrao2: #612557;
    --corSection: #fff;
}

.nav-wrapper{
    background-color: var(--corPadrao2);
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 137px;
}
@media only screen and (max-width: 1000px){
    .nav-wrapper{
        top: 103px;
    }
    
}

/* ===================================== */
/* menu desktop */
ul.menu-desktop{
    list-style-type: none;
    width: 100%;
    display: flex;
}
ul.menu-desktop li{
    text-align: center;
}
ul.menu-desktop li a{
    text-decoration: none;
    color: var(--palavraMenu);
    display: block;
    height: 50px;
    padding: 0 20px 0;
}
ul.menu-desktop li a:hover{
    background-color: rgba(0,0,0,0.1);
}

/* --------------- */
/* sub-menu */
ul.sub-menu{
    list-style-type: none;
    display: none;
}
ul.sub-menu li{
    background-color: var(--corPadrao2);
}
li.receita-menu:hover ul.sub-menu{
    display: block;
}

/* ===================================== */
/* menu mobile */
ul.menu-mobile, .lbl-mobile, #check{
    display: none;
}

.lbl-mobile{
    width: 50px;
    color: var(--palavraMenu);
    font-size: 40px;
    padding-left: 10px;
    cursor: pointer;
}

ul.menu-mobile{
    list-style-type: none;
    width: 100%;
    margin-left: -500px;
    transition: 0.5s;
}
ul.menu-mobile li{
    width: 100%;
    background-color: var(--corPadrao2);
}
ul.menu-mobile li a{
    text-decoration: none;
    display: block;
    color: var(--palavraMenu);
    padding-left: 10px;
}
ul.menu-mobile li a:hover{
    background-color: rgba(0,0,0,0.1);
}
#check:checked ~ ul.menu-mobile{
    margin-left: 0;
    transition: 0.5s;
}
@media only screen and (max-width: 1000px){
    ul.menu-desktop{
        display: none;
    }
    ul.menu-mobile, .lbl-mobile{
        display: block;
    }
}

/* ----------- */
/* sub-menu-mobile */
ul.sub-menu-mobile{
    list-style-type: none;
    display: none;
}
ul.receita-menu-mobile li{
    background-color: var(--corPadrao2);
}
li.receita-menu-mobile:hover ul.sub-menu-mobile{
    display: block;
}


