/* AQUI é a opção de escolha que aparece se clicar em "receitas" no menu */

:root{
    --palavraMenu: #fff;
    --palavra: #fff;
    --palavraConteudo: #878787; 
    --corPadrao1: #a15294;
    --corPadrao2: #612557;
    --corSection: #fff;
}

section.principal a.opcao{
    border: 2px solid var(--palavraConteudo);
    width:  49%;
    font-size: 40px;
    text-decoration: none;
    color: var(--palavraConteudo);
    display: block;
    text-align: center;
}
section.principal a.opcao:hover{
    color: var(--corSection);
    background-color: var(--corPadrao2);
}
