.nav-wrapper{
    background-color: #612557;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
}

ul.menu-mobile, .lbl-mobile, #check{
    display: none;
}

/* ===================================== */
/* menu desktop */
ul.menu-desktop{
    list-style-type: none;
    width: 100%;
    display: flex;
}

ul.menu-desktop li{
    text-align: center;
}

ul.menu-desktop li a{
    text-decoration: none;
    color: #fff;
    display: block;
    height: 50px;
    padding: 0 20px 0;
}

ul.menu-desktop li a:hover{
    background-color: rgba(0,0,0,0.1);
}

/* --------------- */
/* sub-menu */
ul.sub-menu{
    list-style-type: none;
    display: none;
}

ul.sub-menu li{
    background-color: #612557;
}

li.receita-menu:hover ul.sub-menu{
    display: block;
}

/* ===================================== */
/* menu mobile */
.lbl-mobile{
    width: 50px;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
}

ul.menu-mobile{
    list-style-type: none;
    width: 30%;
    margin-left: -500px;
    transition: 0.5s;
}

ul.menu-mobile li{
    width: 100%;
    background-color: #612557;
}

ul.menu-mobile li a{
    text-decoration: none;
    display: block;
    color: #fff;
    padding-left: 10px;
}

ul.menu-mobile li a:hover{
    background-color: rgba(0,0,0,0.1);
}

#check:checked ~ ul.menu-mobile{
    margin-left: 0;
    transition: 0.5s;
}

/* ----------- */
/* sub-menu-mobile */
ul.sub-menu-mobile{
    list-style-type: none;
    display: none;
}

ul.receita-menu-mobile li{
    background-color: #612557;
}

li.receita-menu-mobile:hover ul.sub-menu-mobile{
    display: block;
}

/* ===================================== */
/* menu footer */

ul.menu-footer{
    list-style-type: none;    
}

ul.menu-footer li a{
    text-decoration: none;
    color: #fff;
}

ul.menu-footer li a:hover{
    color: #000000;
}

/* ========================================================== */
/* mdedia queri */

@media only screen and (max-width: 1000px){
    ul.menu-desktop{
        display: none;
    }
    ul.menu-mobile, .lbl-mobile{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    ul.menu-desktop{
        display: none;
    }
    ul.menu-mobile, .lbl-mobile{
        display: block;
    }
}