:root{
    --cor1: #a15294;
    --cor2: #612557;
    --cor4: #fff;
    --cor5: #000000;
    --cor6: #878787;
}

/* ============================================================================================================================================= */
/*                                                                  OPÇÃO DE RECEITA                                                             */
/* ============================================================================================================================================= */
/* ================================== */
/* DOCE */
.doces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.doces a.doce{
    width: 49%;   
    margin-bottom: 20px; 
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor1);
}
.doces a.doce figure figcaption span{
    color: var(--cor4);
}
.doces a.doce:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 800px){
    .doces{
        flex-direction: column;
    }
    .doces a.doce{
        width: 100%;
    }
}

/* ================================== */
/* SALGADO */
.salgados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.salgados a.salgado{
    width: 49%;   
    margin-bottom: 20px; 
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor1);
}
.salgados a.salgado figure figcaption span{
    color: var(--cor4);
}
.salgados a.salgado:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 800px){
    .salgados{
        flex-direction: column;
    }
    .salgados a.salgado{
        width: 100%;
    }
}



/* ============================================================================================================================================= */
/*                                                          CADA RECEITA (RECEITA.HTML)                                                          */
/* ============================================================================================================================================= */
section.principal-receita{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--cor4);
}
section.principal-receita .receita{
    background-color: var(--cor1);
    padding: 10px 0;
}
section.principal-receita .receita .titulo-receita{
    background-color: var(--cor2);
}

.preparo{
    padding: 20px 20px 0;
    justify-content: space-between;
}
.preparo article{
    width: 49%;
    border: 3px solid var(--cor2);
    padding: 20px;
    margin-bottom: 20px;
}
/* modo de preparo e ingrdientes generalizado */
article span{
    font-size: 40px;
    color: var(--cor6);
}
article p, article ul li, article ol li{
    font-size: 20px;
    color: var(--cor6);
}
article ul, article ol{
    padding-left: 20px;
}

@media only screen and (max-width: 1000px){
    .preparo{        
        flex-direction: column;
    }
    .preparo article{
        width: 100%;
    }
}

/* ======================================= */
/* foto */
figure.foto-receita{
    padding: 0 20px 20px;
}
